@charset "utf-8";
@media (max-width: 670px) {
    *{
        font-size: 22px;
    }
	h1 {
		font-size: 36px;
	}
	h2 {
		margin: 24px;
	}
	.works {
		flex-flow: column-reverse;
	}
	.works img {
		width: 90%;
		margin: 30px auto;
	}
	.copy-rights {
		font-size: 14px;
	}
}
